---
// src/layouts/Layout.astro
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Sanket Jadhao's Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased">
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <script>
      const mobileMenuButton = document.getElementById("mobile-menu-button");
      const mobileMenu = document.getElementById("mobile-menu");

      if (mobileMenuButton && mobileMenu) {
        mobileMenuButton.addEventListener("click", () => {
          const isHidden = mobileMenu.classList.toggle("hidden");
          mobileMenuButton.setAttribute(
            "aria-expanded",
            isHidden ? "false" : "true"
          );
        });

        const mobileMenuLinks = mobileMenu.querySelectorAll("a");
        mobileMenuLinks.forEach((link) => {
          link.addEventListener("click", () => {
            mobileMenu.classList.add("hidden");
            mobileMenuButton.setAttribute("aria-expanded", "false");
          });
        });
      }

      const currentYearElement = document.getElementById("currentYear");
      if (currentYearElement) {
        currentYearElement.textContent = new Date().getFullYear().toString();
      }

      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (event) {
          const hrefAttribute = anchor.getAttribute("href");

          if (
            hrefAttribute &&
            hrefAttribute.length > 1 &&
            hrefAttribute.startsWith("#")
          ) {
            const targetElement = document.querySelector(hrefAttribute);
            if (targetElement) {
              event.preventDefault();
              targetElement.scrollIntoView({
                behavior: "smooth",
              });

              if (
                mobileMenu &&
                !mobileMenu.classList.contains("hidden") &&
                mobileMenu.contains(anchor)
              ) {
                mobileMenu.classList.add("hidden");
                if (mobileMenuButton)
                  mobileMenuButton.setAttribute("aria-expanded", "false");
              }
            }
          }
        });
      });
    </script>
  </body>
</html>
